<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>

    <title><%= content_for?(:title) ? yield(:title) : "MyApp" %></title>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> <%=
    yield :head %>
  </head>
  <body>
    <header>
      <%= render 'shared/header' if lookup_context.exists?('shared/_header') %>
    </header>

    <main>
      <% if notice %>
      <p class="notice"><%= notice %></p>
      <% end %> <% if alert %>
      <p class="alert"><%= alert %></p>
      <% end %> <%= yield %>
    </main>

    <footer>&copy; <%= Time.current.year %> MyApp</footer>

    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= yield :scripts %>
  </body>
</html>
